$primary-color: #0e1111; // #232b2b
$grey: #282828;
$soft-grey: #333333;
$light-grey: #666666;

$white: #FFFFFF;
$skin-yellow: #FFF3F2;
$red: #C90032;
$salmon: #FF6C73;

$blue: #60B6D8;
$dark-blue: #004F6D;
$footer-blue: rgb(56, 73, 85, 100);