@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;700&display=swap');

$base-font-family: 'Dosis', sans-serif;

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;


.link1-txt, .link2-txt {
  a {
    color: $primary-color;
    transition: $transition-04;
    text-decoration: none;

    &:visited { }

    &:hover {
      color: $footer-blue;
      cursor: pointer;
    }
  }
}

.link2-txt a {
  font-weight: $bold;
}