/* The style file should be the only Sass file from the whole code base not to begin with an underscore.
This file should not contain anything but @import and comments. */
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;700&display=swap");
.link1-txt a, .link2-txt a {
  transition: all 0.4s;
  text-decoration: none;
}
.link1-txt a:visited, .link2-txt a:visited {
  color: #0e1111;
}
.link1-txt a:hover, .link2-txt a:hover {
  color: #384955;
  cursor: pointer;
}

.link2-txt a {
  font-weight: 700;
}

/* contained within this file are all your resets, variables, mixins, and any utility classes */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

body {
  font-family: "Dosis", sans-serif;
}

/* anything reusable such as buttons, navbars, cards etc. */
/* While layout/ is macro (defining the global wireframe), components/ is more focused on widgets.
It contains all kind of specific modules like a slider, a loader, a widget, and basically anything along those lines.
There are usually a lot of files in components/ since the whole site/application
should be mostly composed of tiny modules. */
button {
  outline: none;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

.login-button-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login-form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 15px;
  width: 100%;
  height: 50px;
  border-radius: 3px;
  background: #FF6C73;
  font-size: 12px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: all 0.4s;
}

.login-form-button:hover {
  background: #333333;
  cursor: pointer;
}

.login-form input {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  margin-bottom: 16px;
  font-size: 16px;
  color: #333333;
  line-height: 1.2;
  outline: none;
  border: 1px solid #333333;
  border-radius: 5px;
}
.login-form label {
  font-size: 16px;
  padding-bottom: 8px;
}
.login-form input::-webkit-input-placeholder {
  color: #666666;
}
.login-form .red-input:focus {
  border: 2px solid #FF6C73;
}

.signup-form-radio input {
  height: 15px;
  margin: 17px;
}
.signup-form-radio label {
  padding: 15px;
}

/* contains all the CSS that handles the layout, such as the container and any grid systems */
.nav-bar {
  text-align: left;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  /* required */
  width: 100%;
  overflow: hidden;
  background-color: #FF6C73;
  box-shadow: 0 6px 12px -2px rgba(0, 0, 0, 0.25);
}

.nav-bar a {
  color: #FFFFFF;
  font-size: 16px;
  text-transform: uppercase;
  /* letter-spacing: 5px; */
  /*COMPRESSOR*/
  display: inline-block;
  text-decoration: none;
  /*float: left;*/
  /*padding: 40px 40px 40px 40px;*/
  padding: 35px;
}

.nav-bar a:last-child {
  float: right;
  /* only contact us button has a float*/
}

.nav-bar a:hover {
  transition: 0.8s;
  /*background-color: black;*/
  color: black;
}

@media screen and (max-width: 700px) {
  .nav-bar {
    text-align: center;
    /*position: static;*/
  }

  .nav-bar a {
    display: block;
    padding: 15px;
    /*  !!!!!!  */
  }

  .nav-bar a:last-child {
    float: none;
  }
}
.footer {
  font-size: 14px;
  width: 100%;
  height: 140px;
  position: relative;
  display: block;
  background-color: #384955;
}

.content-container {
  padding-bottom: 14px;
}

.heading {
  color: #0e1111;
  font-weight: 700;
  font-size: 72px;
  text-align: center;
  padding: 15px 0 15px 0;
}

.form-container {
  background-color: #FFFFFF;
  width: 70%;
  height: max-content;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 6px 12px -2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.form-container .left-part img {
  float: left;
  width: 50%;
  height: 550px;
  object-fit: cover;
  position: relative;
}
@media (max-width: 992px) {
  .form-container .left-part img {
    width: 40%;
  }
}
@media (max-width: 768px) {
  .form-container .left-part img {
    width: 0;
    display: none;
  }
}
.form-container .login-form {
  box-sizing: border-box;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  padding: 110px 65px 0 55px;
}
@media (max-width: 992px) {
  .form-container .login-form {
    width: 60%;
    padding-left: 45px;
    padding-right: 45px;
  }
}
@media (max-width: 768px) {
  .form-container .login-form {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.form-container .title {
  font-size: 20px;
  font-weight: 500;
  color: #0e1111;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 34px;
  width: 100%;
  display: block;
}
.form-container .link-txt, .form-container .link2-txt, .form-container .link1-txt {
  width: 100%;
  color: #0e1111;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.form-container .link1-txt {
  padding-bottom: 25px;
  padding-top: 15px;
}
.form-container .link2-txt {
  padding-top: 70px;
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .link2-txt {
    padding-bottom: 51px;
  }

  .form-container {
    width: 90%;
  }
}
@media (max-width: 992px) {
  .form-container {
    width: 90%;
  }
}
.form-container .login-form {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 65px 0 55px;
}
@media (max-width: 992px) {
  .form-container .login-form {
    width: 60%;
    padding-left: 45px;
    padding-right: 45px;
  }
}
@media (max-width: 768px) {
  .form-container .login-form {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.form-container .left-part #signup-image {
  margin-top: calc(50% - 550px);
}
.form-container .link-txt, .form-container .link1-txt, .form-container .link2-txt {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.form-container .link1-txt {
  padding-top: 15px;
}

.signup-form-radio {
  width: 100%;
  display: flex;
  border: 1px solid;
  border-radius: 5px;
  margin-bottom: 15px;
}

.radio-title {
  font-size: 16px;
  width: 100%;
  padding-bottom: 8px;
}

.content {
  background-color: #ffffff;
  color: #0e1111;
  font-size: 16px;
  padding: 20px;
}

.container {
  margin: 0 auto;
}

.header {
  background-color: #FFFFFF;
  overflow: hidden;
  /*text-align: center;*/
}

/*# sourceMappingURL=styles.css.map */
