@charset "UTF-8";
/* The style file should be the only Sass file from the whole code base not to begin with an underscore.
This file should not contain anything but @import and comments. */
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;700&display=swap");
a {
  color: #0e1111;
}
/* contained within this file are all your resets, variables, mixins, and any utility classes */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

* {
  font-family: "Dosis", sans-serif;
}

/* anything reusable such as buttons, navbars, cards etc. */
/* While layout/ is macro (defining the global wireframe), components/ is more focused on widgets.
It contains all kind of specific modules like a slider, a loader, a widget, and basically anything along those lines.
There are usually a lot of files in components/ since the whole site/application
should be mostly composed of tiny modules. */
button {
  outline: none;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

.login-button-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login-form-button {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 15px;
  width: 100%;
  height: 50px;
  background: #FF6C73;
  font-size: 12px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.login-form-button:hover {
  background: #333333;
  cursor: pointer;
}

.login-reg-form input {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  margin-bottom: 16px;
  font-size: 16px;
  color: #333333;
  line-height: 1.2;
  outline: none;
  border: 1px solid #333333;
}
.login-reg-form label {
  font-size: 16px;
  padding-bottom: 8px;
}
.login-reg-form input::-webkit-input-placeholder {
  color: #666666;
}
.login-reg-form .red-input:focus {
  border: 2px solid #FF6C73;
}

.signup-form-radio input {
  height: 15px;
  margin: 17px;
}
.signup-form-radio label {
  padding: 15px;
}

/* contains all the CSS that handles the layout, such as the container and any grid systems */
.navbar {
  box-shadow: 0 6px 12px -2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 6px 12px -2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 6px 12px -2px rgba(0, 0, 0, 0.25);
  z-index: 1;
  text-align: left;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  /* required */
  width: 100%;
  overflow: hidden;
  background-color: #FF6C73;
}
.navbar a {
  color: #FFFFFF;
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  padding: 35px;
}
.navbar a:last-child {
  float: right;
  /* only contact us button has a float*/
  padding: 25px;
}
.navbar a:hover {
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  color: #0e1111;
}

.profile-container {
  display: flex;
  align-items: center;
}
.profile-container img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 10px;
}
.profile-container #username {
  margin-right: 15px;
}

@media screen and (max-width: 700px) {
  .navbar {
    text-align: center;
  }
  .navbar .profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar .profile-container img {
    display: none;
    margin: 0;
  }
  .navbar .profile-container #username {
    margin: 0;
  }
  .navbar a {
    display: block;
    padding: 15px;
  }
  .navbar a:last-child {
    float: none;
    padding: 15px;
  }
}
.footer {
  background-color: #33383c;
  width: 100%;
  text-align: left;
  padding: 45px 50px;
  color: #FFFFFF;
}
.footer .footer-left {
  font-size: 14px;
  margin: 0;
}
.footer .copyright {
  font-size: 14px;
}
.footer .footer-links {
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 10px;
}
.footer .footer-links a {
  color: #FFFFFF;
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
}
.footer .footer-links a:hover {
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  color: #C90032;
}
.footer .footer-links a:before {
  content: "❘";
  font-size: 20px;
  color: #FFFFFF;
  left: 0;
  display: inline-block;
  padding-right: 5px;
}
.footer .footer-links .link-1:before {
  content: none;
}
.footer .footer-right-social {
  float: right;
  margin-top: 6px;
  max-width: 160px;
}
.footer .footer-right-social a {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  background-color: #FFFFFF;
  display: inline-block;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
}
.footer .footer-right-social a img {
  width: 35px;
  height: 35px;
}
.footer .footer-right-social a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
@media (max-width: 768px) {
  .footer .footer .footer-right-social {
    float: none;
    margin: 0 auto 20px;
  }
}

.content-container {
  padding-bottom: 14px;
}

.heading {
  color: #0e1111;
  font-weight: 700;
  font-size: 72px;
  text-align: center;
  padding: 15px 0 15px 0;
}

.form-container {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 0 6px 12px -2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 6px 12px -2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 6px 12px -2px rgba(0, 0, 0, 0.25);
  background-color: #FFFFFF;
  width: 70%;
  height: max-content;
  margin: 0 auto;
  overflow: hidden;
}

.form-container .left-part img {
  float: left;
  width: 50%;
  height: 550px;
  object-fit: cover;
  position: relative;
}
@media (max-width: 992px) {
  .form-container .left-part img {
    width: 40%;
  }
}
@media (max-width: 768px) {
  .form-container .left-part img {
    width: 0;
    display: none;
  }
}
.form-container .login-reg-form {
  box-sizing: border-box;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 992px) {
  .form-container .login-reg-form {
    width: 60%;
    padding-left: 45px;
    padding-right: 45px;
  }
}
@media (max-width: 768px) {
  .form-container .login-reg-form {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.form-container .title {
  font-size: 20px;
  font-weight: 500;
  color: #0e1111;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 34px;
  width: 100%;
  display: block;
}
.form-container .link1-txt {
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 0;
}
.form-container .link1-txt a {
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  font-weight: 700;
  text-decoration: none;
}
.form-container .link1-txt a:hover {
  color: #C90032;
  cursor: pointer;
}
.form-container .link1-txt #login-link {
  font-weight: 700;
}
.form-container .link2-txt {
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  padding-top: 70px;
  padding-bottom: 0px;
}
.form-container .link2-txt a {
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  font-weight: 700;
  text-decoration: none;
}
.form-container .link2-txt a:hover {
  color: #C90032;
  cursor: pointer;
}

@media (max-width: 768px) {
  .link2-txt {
    padding-bottom: 51px;
  }

  .form-container {
    width: 90%;
  }
}
@media (max-width: 992px) {
  .form-container {
    width: 90%;
  }
}
.form-container .login-reg-form {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  padding: 59px 65px 59px 55px;
}
@media (max-width: 992px) {
  .form-container .login-reg-form {
    width: 60%;
    padding-left: 45px;
    padding-right: 45px;
  }
}
@media (max-width: 768px) {
  .form-container .login-reg-form {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.form-container .left-part #signup-image {
  margin-top: 192px;
  margin-bottom: 192px;
}
.form-container .link1-txt {
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 0;
}
.form-container .link1-txt a {
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  font-weight: 400;
  text-decoration: none;
}
.form-container .link1-txt a:hover {
  color: #C90032;
  cursor: pointer;
}

.signup-form-radio {
  width: 100%;
  display: flex;
  border: 1px solid;
  border-radius: 5px;
  margin-bottom: 15px;
}

.radio-title {
  font-size: 16px;
  width: 100%;
  padding-bottom: 8px;
}

.content {
  background-color: #FFFFFF;
  color: #0e1111;
  font-size: 16px;
  padding: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.ann-container {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  width: 348px;
  display: inline-block;
  min-height: 440px;
  background: #FFF3F2;
  margin: 15px;
  vertical-align: top;
  position: relative;
  overflow: hidden;
}
.ann-container img {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  /* top right bot left */
  margin: 14px 18px 0;
  width: calc(100% - 36px);
  height: 210px;
  object-fit: cover;
}

.ann-name {
  font-size: 1.7em;
  font-weight: 700;
  margin: 10px 18px;
}

.ann-location {
  font-size: 16px;
  margin: 0 18px;
  font-weight: 500;
}

.ann-description {
  font-size: 16px;
  margin: 0 18px;
  line-height: 140%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.ann-time, .ann-date {
  margin: 10px 18px;
  font-size: 16px;
  font-weight: 400;
  color: #C90032;
}

.ann-date {
  font-weight: 700;
}

.header {
  margin: 0 auto;
  background-color: #FFFFFF;
  overflow: hidden;
  /*text-align: center;*/
}

.user-info-container {
  background-color: #FFFFFF;
  width: 70%;
  height: max-content;
  margin: 0 auto;
  overflow: hidden;
}

#profile-photo, .statistics,
.user-info, .caption {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-container img {
  margin-left: 10px;
}

#profile-photo {
  margin: 40px 0 40px 0;
}
#profile-photo img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  height: 16rem;
  width: 16rem;
  object-fit: cover;
  border: 8px solid #C90032;
}

.user-info {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border: 1px solid #C90032;
  padding: 35px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.info-ico {
  height: 24px;
  width: 24px;
  margin: 0 10px 0 10px;
  vertical-align: middle;
}

.edit, .delete-account, .logout-button {
  font-size: 12px;
  width: max-content;
  margin: 0 auto 30px;
  text-decoration: underline;
}
.edit:hover, .delete-account:hover, .logout-button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.logout-button {
  font-size: 18px;
}

.statistics .statistics-col {
  width: 10rem;
  text-align: center;
}
.statistics .stat-name, .statistics .stat-num {
  margin: 18px 0 24px 0;
}
.statistics .stat-num {
  font-weight: 700;
}

.info-row {
  margin: 0 auto;
}

.caption {
  margin-top: 30px;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
}
@media (max-width: 400px) {
  .caption {
    font-size: 24px;
  }
}
@media (max-width: 320px) {
  .caption {
    font-size: 18px;
  }
}

@media (max-width: 400px) {
  #profile-photo img {
    height: 12rem;
    width: 12rem;
  }

  .statistics {
    flex-wrap: wrap;
  }

  #edit-button {
    height: 24px;
    width: 24px;
  }
}
@media (max-width: 320px) {
  #profile-photo img {
    height: 8rem;
    width: 8rem;
  }

  #edit-button {
    height: 18px;
    width: 18px;
  }
}
.info-editor-container {
  background-color: #FFFFFF;
  width: 50%;
  height: max-content;
  margin: 0 auto;
  overflow: hidden;
}
@media (max-width: 992px) {
  .info-editor-container {
    width: 60%;
    padding-left: 45px;
    padding-right: 45px;
  }
}
@media (max-width: 768px) {
  .info-editor-container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.edit, .delete-account, .logout-button {
  margin-top: 0;
}

.delete-account {
  font-size: 18px;
  font-weight: 700;
}
.delete-account a {
  color: #C90032;
}

.login-button-container {
  margin-bottom: 30px;
}

/*# sourceMappingURL=styles.css.map */
