.content {
  background-color: #ffffff;
  color: $primary-color;

  font-size: 16px;
  padding: 20px;
}


.container {
  margin: 0 auto;
}


.header {
  background-color: $white;
  overflow: hidden;

  /*text-align: center;*/
}