.info-editor-container {
  background-color: $white;
  width: 50%;
  height: max-content;
  margin: 0 auto;
  overflow: hidden;

  @media (max-width: 992px) {
    width: 60%;
    padding-left: 45px;
    padding-right: 45px;
  }

  @media (max-width: 768px) {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.edit {
  margin-top: 0;
}

.delete-account {
  @extend .edit;
  font-size: 18px;
  font-weight: $bold;

  a {
    color: $red;
  }
}

.submit-button-container {
  margin-bottom: 30px;
}