.form-container {
  .login-form {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 65px 0 55px;

    @media (max-width: 992px) {
      width: 60%;
      padding-left: 45px;
      padding-right: 45px;
    }

    @media (max-width: 768px) {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .left-part #signup-image {
    margin-top: 12%;
  }

  .link-txt {
    width: 100%;
    font-size: 14px;
    font-weight: $normal;
    text-transform: uppercase;
  }

  .link1-txt {
    @extend .link-txt;
    padding-top: 15px;
  }
}

.signup-form-radio {
  width: 100%;

  display: flex;
  border: 1px solid;
  border-radius: 5px;
  margin-bottom: 15px;
}

.radio-title {
  font-size: 16px;
  width: 100%;
  padding-bottom: 8px;
}