.ann-info {
  @extend .user-info;
  @include box-shadow($shadow-default);
  width: 100%;
  margin-bottom: 25px;

  &:hover {
    cursor: pointer;
    background-color: $light-salmon;
  }
}

.info-row img {
  object-fit: cover;
}

.ann-photo {
  @include border-radius(5px);
  height: 65px;
  width: 85px;
  margin: 0 10px 0 10px;
  vertical-align: middle;
}

.ann-name {
  font-size: 28px;
}

.important-row {
  font-weight: $bold;
}