.form-container {
  .login-reg-form {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    padding: 59px 65px 59px 55px;

    @media (max-width: 992px) {
      width: 60%;
      padding-left: 45px;
      padding-right: 45px;
    }

    @media (max-width: 768px) {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
    }


  }

  .left-part #signup-image {
    margin-top: 192px;
    margin-bottom: 192px;
  }

  .link1-txt {
    @include logreg-page-link($p-top:15px);
  }
}

.signup-form-radio {
  width: 100%;

  display: flex;
  border: 1px solid;
  border-radius: 5px;
  margin-bottom: 15px;
}

.radio-title {
  font-size: 16px;
  width: 100%;
  padding-bottom: 8px;
}