.ann-info {
  @extend .user-info;
  @include box-shadow($shadow-default);
  width: 100%;
  margin: 3px;

  &:hover {
    cursor: pointer;
    background-color: $light-salmon;
  }
}

.ann-photo {
  @include border-radius(5px);
  height: 65px;
  width: 85px;
  margin: 0 10px 0 10px;
  vertical-align: middle;
}

.ann-name {
  font-size: 28px;
}

.announcements-container {
  padding: 20px;
  height: calc(100vh - 153px - 120px - 121px - 38px);
}

.important-row {
  font-weight: $bold;
}