$primary-color: #0e1111; // #232b2b
$grey: #282828;
$soft-grey: #333333;
$space-grey: #33383c;
$light-grey: #666666;

$white: #FFFFFF;
$skin-yellow: #FFF3F2;
$red: #C90032;
$salmon: #FF6C73;
$light-salmon: #FFF3F2;

$blue: #60B6D8;
$dark-blue: #004F6D;
$space-blue: rgb(56, 73, 85);
