<div class="content-container">
  <div class="form-container">
    <div class="left-part"><img id="signup-image" src="assets/img/8244.jpg" alt="Logreg image"></div>
    <div class="right-part">
<!--      <p>Form value: {{ regForm.value | json }}</p>-->
<!--      <p>Form status: {{ regForm.status | json }}</p>-->
<!--      <p>Form errors: {{ regForm.errors | json }}</p>-->
      <form [formGroup]="regForm" (ngSubmit)="signup()" id="signup-form" class="login-reg-form">
        <div class="title">Sign up</div>

        <label for="firstname-input">First name</label>
        <input formControlName="firstname" class="red-input" type="text" id="firstname-input">

        <div *ngIf="f.firstname.touched && f.firstname.errors" class="invalid-feedback">
          <div *ngIf="f.firstname.errors.required">Firstname is required</div>
        </div>

        <label for="lastname-input">Last name</label>
        <input formControlName="lastname" class="red-input" type="text" id="lastname-input">
        <div *ngIf="f.lastname.touched && f.lastname.errors" class="invalid-feedback">
          <div *ngIf="f.lastname.errors.required">Lastname is required</div>
        </div>

        <label for="email-input">Email</label>
        <input formControlName="email" class="red-input" type="text" id="email-input">
        <div *ngIf="f.email.touched && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.pattern">Invalid email</div>
        </div>

        <label for="username-input">Username</label>
        <input formControlName="username" class="red-input" type="text" id="username-input">
        <div *ngIf="f.username.touched && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Username is required</div>
        </div>

        <div class="radio-title">Role</div>
        <div class="signup-form-radio">
          <label for="userChoice">Regular</label>
          <input [checked]="true" (change)="changeRole($event)"
                 type="radio" id="userChoice" name="role-input" value="regular">

          <label for="adminChoice">Admin</label>
          <input (change)="changeRole($event)" type="radio" id="adminChoice" name="role-input" value="admin">
        </div>

        <label for="password-input">Password</label>
        <input formControlName="password" class="red-input" type="password" id="password-input">
        <div *ngIf="f.password.touched && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
        </div>

        <label for="confirm-password">Confirm password</label>
        <input formControlName="confirmPassword" class="red-input" type="password" id="confirm-password">

        <div *ngIf="f.confirmPassword.touched && regForm.hasError('noMatch')" class="invalid-feedback">
          <div>Passwords do no match</div>
        </div>

        <div class="submit-button-container"> <!-- to center the button -->
          <button [disabled]="regForm.invalid" class="submit-form-button" type="submit">Submit</button>
        </div>
        <div class="link1-txt">
          Already have an account? <a id="login-link" href="/login">Log in</a>
        </div>
      </form>
    </div>
  </div>
</div>
