button {
  outline: none;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

.submit-button-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.submit-form-button {
  @include border-radius(3px);
  @include transition($transition-04);
  @include center();

  padding: 0 20px;
  margin-bottom: 15px;
  width: 100%;
  height: 50px;
  background: $salmon;

  font-size: 12px;
  font-weight: $bold;
  color: $white;
  text-transform: uppercase;
  letter-spacing: .5px;
}

.submit-form-button:hover {
  background: $soft-grey;
  cursor: pointer;
}